---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% for post in site.publications reversed %}
  <div class="list__item">
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      
      <!-- Title with reverse numbering -->
      <h3 class="archive__item-title" itemprop="headline">
        {{ forloop.rindex }}. {{ post.title }}
      </h3>
      
      <!-- Venue, Year, arXiv, and Journal ALL on one line -->
      <p style="margin-top: 0; margin-bottom: 1.5em;">
        Published in <i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}
        {% if post.arxivurl %} &middot; <a href="{{ post.arxivurl }}">arXiv</a>{% endif %}
        {% if post.paperurl %} &middot; <a href="{{ post.paperurl }}">Journal</a>{% endif %}
      </p>

    </article>
  </div>
{% endfor %}
